.entry{
  height: 30px;
}
body{
  width: 100%;
  height: 100%;
  background: #828282;
  background-size: cover;
}
.result{
  height: 400px;
  width: 200px;
  background: #a8bbdd;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  border-radius: 10%;
  box-shadow: 7px 8px 35px 1px rgba(0, 0, 0, 0.8)
}
button:active {
  text-decoration: none;
  box-shadow: none;
}
button:focus {
outline: none;

}

button {
  text-decoration: none;
  border-radius: 8px;
  background-color: #3a3a3a;
  margin: 0 4px 10px 8px;
  height: 40px;
  width: 50px;
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.8)
}
#numbers{
  position: relative;
  height: 10px;
  bottom: 17px;
  margin-right: 122px;
  color: black;
  font-size: 14px;
}
.display{
  background: #c7d1e0;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px
}